.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    z-index: 999;
}

.sidebar {
    height: 100vh;
    background: #1a202c;
    color: #edf2f7;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    border-right: 2px solid #ffffff;
    align-items: stretch; /* Étend les enfants horizontalement */
}

/* Navigation */
.sidebar-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0; /* Empêche la réduction de la barre de navigation */
}

.sidebar-nav-item:hover {
    color: #66686c;
    cursor: pointer;
}

.sidebar-nav {
    flex-shrink: 0; /* Empêche la réduction de la barre de navigation */
}

.item-bar {
    width: 200px;
    height: 100vh;
    background: #1a202c;
    color: #edf2f7;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
    border-right: 2px solid #ffffff;
}

.item-bar-header {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.item-bar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (prefers-color-scheme: dark) {
    .container {
        filter: invert();
    }
}
